body {
    padding: 0;
    margin: 0;
}

* {
    box-sizing: border-box;
    text-decoration: none;
    // padding-inline-start: 0;
    //     margin-block-start: 0;
    //     margin-block-end: 0;
}

.container {
    width: auto;
    height: 500px;
    border: 1px solid grey;
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    padding: 9px;
}

.white, .sharp{
    width: 125px;
    border: 1px solid grey;
}

.white {
    background-color: white;
}

.sharp {
    background-color: black;
}